
@font-face {
    font-family : "gothan";
    src: url("fonts/Gotham-XLight.otf");
}


* {
    margin: 0px;
    padding: 0px;
    font-family: gothan;
    
}

body {
    background-color:#d5d5d5;
}

/* Corpo */
#corpo {
    background-color:#d5d5d5;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-direction: inherit;
    
}



#bloco {
    width: 28%;
    height: 80%;
    background-color: #f8f8f8;
    border-radius: 3%;
    box-shadow: 11px 10px 41px -9px rgba(0,0,0,0.52);
    display: flex;
    align-content: center; 
    flex-direction: column;
  
    
}

#botaoHome {
    height: 20%;
    margin-top: 25%;
    border-radius: 2%; 
    background-color: #d5d5d5;
}

#botaoHome h5 {
    color: #1e1e1e;
    text-align: right;
    padding-right: 10%;
    padding-top: 7%;
    font-size: 2vw; 
}

#botaoHome2 {
    height: 20%;
    margin-top: 30%;
    border-radius: 2%;  
    background-color: #d5d5d5;
}

#botaoHome2 h5 {
    color: #1e1e1e;
    text-align: right;
    padding-right: 10%;
    padding-top: 7%;
    font-size: 2vw;             
}

#logoPES {
    width: 50% !important;
    padding-top: 20% !important;     
    padding-left: 25% !important;
    padding-bottom: 0% !important;
    cursor: pointer;
    transition: 0.5s;
}

#logoPES:hover {
    width: 52% !important;
    padding-top: 18% !important;  
    padding-left: 23% !important;
}

#logoGRA {
    width: 60% !important;
    padding-top: 25% !important;     
    padding-left: 20% !important;
    padding-bottom: 0% !important;
    cursor: pointer;
    transition: 0.5s;
}

#logoGRA:hover {
    width: 62% !important;
    padding-top: 23.8% !important;     
    padding-left: 20% !important;

}


#ser {
    cursor: pointer;
}

#sta {
    cursor: pointer;
}








/* Cabeçalho */
#header {
    background-color: #1e1e1e;
    width: 100%;  
    height: 45%;
}

#logoUOL {
    width: 10%;
    margin-top: 0.1%;
}

#logoMAN {
    width: 4%;
    margin-left: 75%;
}

#usuario {
    color: white;
    margin-left: 90vw;
    margin-top: -2.5%; 
    position: absolute;
    font-size: 1vw;
    cursor: pointer;
    transition: 0.5s;
        
}

#usuario:hover {
    color: gray;
    
}

#balao {
    position: absolute;
    width: 28%;
    height: 0px;
    background-color: #d5d5d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 11px 20px 41px -9px rgba(0,0,0,0.52);
    transition: 1s;
       
}

#balao2 {
    position: absolute;
    width: 28%;
    height: 0px;
    background-color: #d5d5d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 11px 20px 41px -9px rgba(0,0,0,0.52);
    transition: 1s;
       
}
.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

