
@font-face {
    font-family : "gotham";
    src: url("fonts/Gotham-XLight.otf");
}


* {
    margin: 0%;
    padding: 0%;
    font-family: gotham;
    
}


/* Cabeçalho */
#header {
    background-color: #1e1e1e;
    width: 100%;
    height: 25px;
}

/* Corpo */
#corpo {
    background-color:#d5d5d5;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#bloco {
    width: 28%;
    height: 80%;
    background-color: #f8f8f8;
    border-radius: 3%;
    box-shadow: 11px 10px 41px -9px rgba(0,0,0,0.52);
    display: flex;
  
    align-content: center; 
    flex-direction: column;
  
    
}

#bloco img {
    width: 20%;
    padding-top: 13%;
    padding-bottom: 13%;
    padding-left: 40%;
}

#bloco input {
    width: 60%;
    /* height: 40px; */
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
    margin-left: 20%;  
    outline: none;
    text-align: center;
    font-size: 130%;
    
}

#bloco input:focus {
    border-bottom: 1px solid #1e1e1e;
}

#senha {
    margin-top: 10%;
}

#enviar {
    border: none;   
    width: 60%;
    height: 33px;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #f8f8f8;
    font-size: 105%;
}
button {
    outline: none;
    overflow: hidden;
    position: relative;
}

button .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}



/* Roda pé */
#footer {
    background-color: #1e1e1e;
    width: 100%;
    height: 7.80vw;
}

/* titulo */
#titulo {
    color: white;
    font-size: 120%;
    text-align: center;
    padding-top: 0,25%;
}

#logosPÉ {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

#logosPÉ img {
    width: 10%;
    height: 10%;
}
